/* VPFeatures 页卡悬浮效果 */
.VPFeatures .items .item {
  transition: transform 0.3s;
}

.VPFeatures .items .item:hover {
  transform: translateY(-5px);
}

/* 鼠标选中颜色 */
::selection {
  background-color: #404042;
}

::-moz-selection {
  background-color: #404042;
}