/* VPFeatures 页卡悬浮效果 */
.VPFeatures .items .item {
  transition: transform 0.3s;
}

.VPFeatures .items .item:hover {
  transform: translateY(-5px);
}

/* 鼠标拖动选中时改变颜色 */
::selection {
  background-color: rgba(128, 128, 128, 0.4);
}

::-moz-selection {
  background-color: rgba(128, 128, 128, 0.4);
}